@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

body {
  font-family: "Monda", sans-serif;
  background-color: #323232;
  color: #f9f3f3;
  margin: 2rem;
  font-size: 2rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background-color: #323232;
  color: #f9f3f3;
  border: 1px solid #999;
  padding: 0;
  font-size: 84px;
  text-align: center;
  width: 8rem;
  height: 8rem;
  padding: 0.7rem;
  padding-bottom: 1.5rem;
}

.status {
  margin: 1px;
  font-size: 1.5rem;
}

.square:focus {
  outline: none;
  background-color: #222122;
}

.icon {
  margin-left: 7rem;
  font-size: 2.5rem;
  position: absolute;
  right: 30.6rem;
  top: 8.8rem;
  background: none;
  outline: none;
  border: none;
  color: #f9f3f3;
}

#footer {
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 0;
}

@media all and (max-width: 980px) {
  .square {
    font-size: 7.2rem;
    width: 14rem;
    height: 14rem;
  }
  .icon {
    position: absolute;
    left: 39.7rem;
    top: 18.3rem;
    font-size: 4.5rem;
  }
  p {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 6.5rem;
    margin-bottom: 2.5rem;
  }
  #footer {
    font-size: 1.6rem;
    text-align: center;
    margin: 4rem 0 2rem;
  }
}
